<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IFirstService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:50399/FirstService.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IFirstService" contract="Service.IFirstService"
                name="BasicHttpBinding_IFirstService" />
        </client>
        <behaviors>
            <serviceBehaviors>
                <behavior name="">
                    <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="false" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service name="_2018_05_18_wcf_client.FirstService">
                <endpoint address="" binding="basicHttpBinding" contract="_2018_05_18_wcf_client.IFirstService">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8733/Design_Time_Addresses/_2018_05_18_wcf_client/FirstService/" />
                    </baseAddresses>
                </host>
            </service>
        </services>
    </system.serviceModel>
</configuration>